#zone1{
    position: relative;
    z-index: 1;
    width: 75%;
    display: flex;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.3);

    .banner{
        width: 55%;
        border: 0;
        overflow: hidden;
    }
    .banner img{
        width: 100%;
        scale: 1.05;
    }
    .content {
        width: 45%;
    }
    .content .brand-name{
        width: 70%;
        margin: 10% auto;
        font-size: 1.5em;
    }
    .content .brand-name a{
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
    }
    .content .logo{
        width: 10%;
    }
    .content .logo img{
        width: 100%;
    }
    .content .login{    
        width: 85%;
        margin: 0 auto;
    }
    .login h3{
        margin-bottom: 7%;
        font-size: 1.25em;
    }
    .login form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .login input[type="text"]{
        height: 100%;
        margin-bottom: 5%;
        padding: 3%;
        border-radius: 4px;
        border: 1.5px solid #6e5544;
        background-color: #fff9f6;
    }
    .login .button{
        width: 100%;
        margin: 5% auto;
        display: flex;
        justify-content: center;
        
    }
    .login .button a{
        display: flex;
        justify-content: center;
        padding: 8px 0 8px 0;
        text-decoration: none;
        color: #fff;
        background-color: #000;
        width: 100%;
        border-radius: 6px;
    }
    .login .or-login{
        display: flex;
        flex-direction: column;
        padding: 5% 0 5% 0;
    }
    .login .or-login > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
    }
    .login .or-login .facebook{
        width: 45%;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.25s;
    }
    .login .or-login .facebook .img{
        width: 20%;
        padding: 3% 5% 3% 15%;

    }
    .login .or-login .google{
        width: 45%;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.25s;
    }
    .login .or-login .google img{
        width: 20%;
        padding: 3% 5% 3% 15%;
    }
    .login  a{
        color: #b78d71;
    }
    .login .register a:not(:hover){
        text-decoration: none;
    }
    .facebook:hover{
        scale: 1.05;
    }
    .google:hover{
        scale: 1.05;
    }
}