*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #f5f5f5;
    font-size: 16px;
}
body{
    background-color: #FFF9F6;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media  screen and (min-width: 1440px) { 
    html{
        font-size: 18px;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media  screen and (max-width: 1439.98px) { 
    
}

/* // `xl` applies to large devices (desktops, less than 1240px) */
@media  screen and  (max-width: 1239.98px) { 
    html,body{
        font-size: 15px;
    }
}

/* Chinh them */
@media  screen and (max-width: 1063.98px) { 
    html,body{
        font-size: 14px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media  screen and (max-width: 991.98px) { 
    html,body{
        font-size: 14px;
    }
}

/* Chinh lai them  */
@media only screen and (max-width: 888px) { 
    html,body{
        font-size: 13px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) { 
    html,body{
        font-size: 16px;
    }
}

/* // `sm` applies to x-small devices (portrait phones L, less than 576px) */
@media only screen and (max-width: 575.98px) {
    
}

/* // `sm` applies to x-small devices (portrait phones M, less than 425px) */
@media only  screen and (max-width: 425.02px){
    html,body{
        font-size: 14px;
    }
}

/* // `sm` applies to x-small devices (portrait phones S, less than 360px) */
@media only screen and (max-width: 360.02px){
    html,body{
        display: none;
    }
}