#zone2 {
    position: relative;
    width: 80%;
    margin: 120px auto;
    display: flex;
    z-index: 1;
}
#zone2 .col{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 50%;
    padding: 0;
    border-radius: 8px;
}
#zone2 .title{
    padding-bottom: 3%;
}
#zone2 .title h2{
    font-size: 200%;
}
#zone2 .content{
    width: 100%;
}
#zone2 .content p{
    /* text-align: justify; */
    width: 90%;
}
#zone2 .content h3{
    font-size: 300%;
    padding-bottom: 5% ;
    padding-top: 5%;
}
#zone2 a{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    padding: 8px 46px 8px 46px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    bottom: 20%;
}
#zone2 .img{
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
#zone2 img{
    width: 100%;
    display: block;
    border-radius: 16px;
    transition: all 1s;
}
#zone2 img:hover{
    scale: 1.1;
}
#zone2 a:hover{
    box-shadow: 1px 1px 10px 5px rgba(0,0,0, 0.5);
}

#zone2 a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255,255,255, 0.4),
      transparent
    );
    transition: all 650ms;
}
  
#zone2 a:hover:before {
    left: 100%;
} 
