#zone5 {
    width: 80%;
    margin: 120px auto;
    display: flex;
    justify-content: end;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
}
#zone5 .col2{
    width: 22.35%;
}
#zone5 .row1{
    display: flex;
    width: 77.65%;
    position: absolute;
    top:0;
    left:0;
}
#zone5 .row2{
    display: flex;
    width: 77.65%;
    position: absolute;
    top:53%;
    left:0;
}
#zone5 .nhan{
    width: 28.8%;
    position: absolute;
} 
#zone5 .nhan p{
    display: block;
    padding-left: 5% ;
    padding-right: 5% ;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#zone5 .dong-ho{
    width: 28.8%;
    position: absolute;
    top: 0;
    left: 35%;
} 
#zone5 .dong-ho p{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5% ;
    padding-right: 5% ;
}
#zone5 .text{
    display: block;
    width: 31.52%;
    position: absolute;
    top: 25%;
    left: 49%;
} 
#zone5 .text h5{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-57%,-50%);
    font-size: 2em;
    white-space: nowrap;
}
#zone5 .lac-tay{
    width: 51%;
    position: absolute;
} 
#zone5 .lac-tay p{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5% ;
    padding-right: 5% ;
}
#zone5 .day-chuyen{
    width: 40%;
    position: absolute;
    left: 55.5%;
} 
#zone5 .day-chuyen p{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5% ;
    padding-right: 5% ;
}
#zone5 .bong-tai{
    width: 100%;
    position: relative;
} 
#zone5 .bong-tai p{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5% ;
    padding-right: 5% ;
}
#zone5 img{
    width: 100%;
}
#zone5 .nhan:hover img{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}
#zone5 .dong-ho:hover img{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}
#zone5 .lac-tay:hover img{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}
#zone5 .day-chuyen:hover img{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}
#zone5 .bong-tai:hover img{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}
#zone5 p{
    color: #fff;
    font-size: 1.5em;
    z-index: 2;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}
#zone5 p:hover{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
}